.carousel {
  margin: 100px auto;
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.group-1 {
  display: flex;
  gap: 1em;
}

.card {
  flex: 0 0 5em;
  padding: 1em;
  font-size: 2em;
  text-align: center;
  align-content: center;
}

@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}